{{ define "base" }}<!DOCTYPE html>
<html>
    <head>
        <title>{{ template "title" . }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/static/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/app.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <header>{{ template "header" . }}</header>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <!--Sidebar content-->
                    {{ template "sidebar" . }}
                </div>
                <div class="span10">
                    <!--Body content-->
                    {{ template "content" . }}
                </div>
            </div>
        </div>
        <footer>{{ template "footer" . }}</footer>
        <script src="/static/vendors/jquery-2.0.2.min.js"></script>
        <script src="/static/vendors/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/app.js"></script>

    </body>
</html>{{ end }}
